<!DOCTYPE html>
<html>

<head>
  <title>E03AuctionsSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value %>
  <% end %>

  <% if current_user.present? %>
    Hi!<%=current_user.name%>
    <%= link_to "Logout", logout_path(current_user.id), method: :delete %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>

  <%= yield %>

</body>

</html>
